# Files
gamepicker_production_copy.py

# Python
__pycache__/

# Virtual Environments
.venv/

# Tests
.pytest_cache/

# Data
*.db

# Visual Studio Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Notes
notebooks/
